<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBReVAE3Y_cSjrvq6qiBbW3HOwfQqsH6qY</string>
	<key>GCM_SENDER_ID</key>
	<string>921168008628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scaffassistant.app</string>
	<key>PROJECT_ID</key>
	<string>scaff-assistant</string>
	<key>STORAGE_BUCKET</key>
	<string>scaff-assistant.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921168008628:ios:fe4372eaea3d5da2d0cee1</string>
</dict>
</plist>